/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/
.header {
    background-color: var(--background);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    display: flex;
    align-items: center;
    transition: background-color var(--transiton-short);
    z-index: 4;
  }
  
  header.active {
    background-color: var(--surface);
  }
  
  .header .container {
    display: flex;
    align-items: center;
    gap: 10px;
  }


  .logo .text-primary {
    display: inline;
  }
  
  
  .header-search{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    flex-grow: 1;
  }
  
  .header-search{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    flex-grow: 1;
  }
  
  .header:not(.search-active) .header-search{
    margin-inline-start: auto;
  }
  
  
  /* .header:not(.search-active) .search-box,  */
  /* .header-search-active :where(.logo, .theme-btn), */
  /* .search-toggler[aria-expanded="true"] .search-icon, */
  /* .search-toggler[aria-expanded="false"] .close-icon,  */
  [data-theme="dark"] .theme-btn .moon-icon,
  [data-theme="light"] .theme-btn .sun-icon{
    display: none;
  }
  

/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

@media (min-width: 390px) {
  .logo {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    font-weight:  var(--weight-semiBold);
  }
}

@media (min-width: 768px) {
  .logo {
    display: inline;
    font-size: 28px;
    font-weight:  var(--weight-semiBold);
  }
}


@media (min-width: 992px) {
  .logo {
    font-size: 29px;
    display: inline;
    font-weight:  var(--weight-semiBold);
  }
}

@media (min-width: 1080px) {
  .logo {
    font-size: 30px;
    display: inline;
    font-weight:  var(--weight-semiBold);
  }

}